.dropdown-menu {
  /* Invisible by default */
  display: none;
  /* Remove default styles */
  margin: 0;
  padding: 0;
  list-style: none;
  /* Styling */
  background-color: #ffffff;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  min-width: 160px;
  padding-bottom: 4px;
  padding-top: 4px;
  /* On top */
  z-index: 10000;
  /* Positioning */
  position: absolute;
}
.dropdown-menu > li > a {
  display: block;
  white-space: nowrap;
  /* Cancel default styles */
  text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f0f0f0;
}
.open > .dropdown-menu {
  display: block;
}
